html, body {
    margin:0;
    padding:0;
    height:100%;
    font-size:0;
}

.container {
    width:620px;
    height:620px;
    margin:auto;
    border:2px solid black;
    /*transform:rotateX(60deg) rotateY(0deg) rotateZ(45deg);*/
    box-shadow:
    1px 1px 0 #555,
    2px 2px 0 #555,
    3px 3px 0 #555,
    4px 4px 0 #555,
    5px 5px 0 #555,
    6px 6px 0 #555,
    7px 7px 0 #555,
    8px 8px 0 #555,
    9px 9px 0 #555,
    10px 10px 0 #555,
    11px 11px 0 #555,
    12px 12px 0 #555,
    13px 13px 0 #555,
    14px 14px 0 #555;
}

.row {
    position:relative;
    display:inline-block;
    height:62px;
    width:100%;
}

span {
    display:inline-block;
    border:1px solid black;
    width:60px;
    height:60px;
}

span:hover {
    background-color: DarkOrange;
}