#perso {
	position: absolute;
	width: 100px;
	height: auto;
}

#bulle {
	display: table-cell; /* nécessaire pour aligner verticalement le texte */
	position: relative;
	left: 150px;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	height: 80px;
	border: 2px solid black;
	border-top-right-radius:120px 50px;
	border-top-left-radius:120px 50px;
	border-bottom-right-radius:120px 50px;
	border-bottom-left-radius:120px 50px;
}

#triangle {
	position: absolute;
	top: 30px;
	right: 198px;
 	height: 0;
 	width: 0;
 	border-top: 10px solid transparent;
 	border-right: 30px solid black;
 	border-bottom: 10px solid transparent;
}

#bordure_triangle {
	position: absolute;
	top: 30px;
	right: 193px;
 	height: 0;
 	width: 0;
 	border-top: 10px solid transparent;
 	border-right: 30px solid white;
 	border-bottom: 10px solid transparent;
}